html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background: linear-gradient(blue, navy, blue);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	background: linear-gradient(#dddddd, #eeeeee, #dddddd);
	border: 1px outset black;
	padding-bottom: 25px;
}

.main-header {
	background: linear-gradient(to right, #dddddd, gray);
	border: 1px solid black;
	padding: 3px;
	color: #000000;
}

.main-header-text {
	position: relative;
	left: 10px;
	text-align: center;
}

.navebar {
	background: linear-gradient(to right, #dddddd, gray);
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	margin: 10px;
}

.main-content-l {
	background: linear-gradient(to right, #dddddd, gray);
	border: 1px solid black;
	padding: 5px;
}

.main-content-m {
	background: linear-gradient(to right, #dddddd, gray);
	border: 1px solid black;
	padding: 5px;
}

.main-content-r {
	background: linear-gradient(to right, #dddddd, gray);
	border: 1px solid black;
	padding: 5px;
}

.footer {
	right: 60px;
	bottom: 30px;
	position: fixed;
}

.footer-content:hover {
	animation: pana-jump 2s infinite;
}

@keyframes pana-jump {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}